  .imagenItem{
    height: 100%;
    width: 180px;
    max-height: 180px;
    align-self: center;
  }
  
  .cardItem{
    width: 20%;
    height: 300px;
    border: black;
    margin: 5px;
  }

  .bodyItem{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  
  .botonItem{
    background-color: black;
  }

  .detailsButton{
    text-decoration: none;
  }

.detailsButton:hover{
    font-weight: 900;
}