/* MENU TITULO */
.contenedorLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
}

/* MENU NAVEGACION */
.listaUl{
    display: flex;
    flex-direction: column;
}

.lista{
    display: block;
    margin-bottom: 0.5%;
}

.link{
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.link:hover{
    transition-duration: 0.2s;
    font-weight: 900;
}

.carrito{
    position: absolute;
    right: 3.2%;
    top: 3.2%;
    width: 1.7em;
    height: 1.7em;
}

.cantidad_carrito{
    position: absolute;
    right: 2.7%;
    top: 3.2%;
}